/* Root Variables */
:root {
    --primary-color: #1A1A1D;
    --accent-color: #FFD700;
    --text-color: #FFFFFF;
    --background-color: #1A1A1D;
    --font-family: 'Arial', sans-serif;
    --input-bg-color: #2E2E30;
    --input-border-color: #FFD700;
    --button-hover-color: #FFC300;
    --button-color: #FFD700;
}

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1, h2 {
    margin-bottom: 1rem;
    color: var(--accent-color);
}

header {
    text-align: center;
    padding: 2rem;
    background-color: var(--primary-color);
}

.contact-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

.contact-info, .contact-form {
    width: 100%;
    padding: 1.5rem;
    border-radius: 8px;
    background-color: var(--input-bg-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Contact Information Section */
.contact-info {
    text-align: left;
}

.contact-info p {
    margin: 0.5rem 0;
    font-size: 1rem;
}
.img-container{
    margin-left: 45px;
    margin-top: 50px;
    margin-bottom: 0;
}
.contact-img{
    width: auto;
    height: 250px;
    margin-bottom: 0;
    opacity: 0.7;
}

/* Contact Form Section */
form {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

input, textarea {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    outline: none;
}

input:focus, textarea:focus {
    border-color: var(--button-color);
}

button, .home-button a{
    padding: 0.75rem;
    font-size: 1.2rem;
    color: var(--primary-color);
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-hover-color);
}

/* Responsive Design */
@media (min-width: 768px) {
    .contact-container {
        flex-direction: row;
        gap: 2rem;
    }

    .contact-info, .contact-form {
        flex: 1;
    }
}
